body{
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
h1{
    text-shadow: 1px 1px 1px black;
}
section{
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: 700px;
    height: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
    width: 600px;
}